p:first-child{
    color: rgb(218, 10, 3);
}
p:last-child{
    color: rgb(214, 132, 194);
}
p:nth-child(even){
    color: rgb(12, 24, 1);
}
 p:nth-child(odd){ 
    color: rgb(6, 105, 138);
}
p:nth-child(3n-2){
    color: rgb(253, 139, 8);
}
.para{
font-style: italic;
    background-image: linear-gradient(rgb(250, 227, 231),white,rgb(253, 154, 253));
}