.p1{
    font-family: 'Pacifico', cursive;

}
.p2{
    font-family: 'Caveat', cursive;
    font-size: large;
}
.font{
    background-image: linear-gradient(rgb(250, 227, 231),white,rgb(253, 154, 253));
}